# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [1]:
# importing libraries
import pandas as pd

# loading the datasets
df_08 = pd.read_csv("data_08_v2.csv")
df_18 = pd.read_csv("data_18_v2.csv")

In [19]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB

In [20]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 80.7+ KB

In [27]:
'''Which of the following changes could be made to make the 
cyl column in both datasets clear and consistent?'''
print(df_08.cyl.describe())
print(df_18.cyl.describe())

count         986
unique          8
top       (6 cyl)
freq          409
Name: cyl, dtype: object
count    794.000000
mean       5.476071
std        1.754851
min        3.000000
25%        4.000000
50%        6.000000
75%        6.000000
max       16.000000
Name: cyl, dtype: float64

In [28]:
'''Which of the following changes could be made to make the air_pollution_score column in both 
datasets consistent?'''
print(df_08.air_pollution_score.value_counts())
print(df_18.air_pollution_score.value_counts())

6      500
7      398
9.5     80
9        7
6/4      1
Name: air_pollution_score, dtype: int64
3    372
5    187
7    139
1     89
6      7
Name: air_pollution_score, dtype: int64

In [22]:
df_08[['city_mpg', 'hwy_mpg', 'cmb_mpg']].head()

  city_mpg hwy_mpg cmb_mpg
0       15      20      17
1       17      22      19
2       16      24      19
3       18      26      21
4       17      26      20

In [30]:
# needs to be converted from string to int
df_18[['city_mpg', 'hwy_mpg', 'cmb_mpg']].head()

  city_mpg hwy_mpg cmb_mpg
0       20      28      23
1       19      27      22
2       23      33      27
3       20      32      24
4       21      30      24

In [29]:
# # needs to be converted from string to int
df_08.greenhouse_gas_score.head()

0    4
1    5
2    5
3    6
4    6
Name: greenhouse_gas_score, dtype: object

In [31]:
'''Which changes need to be made to make the greenhouse_gas_score 
columns in both datasets consistent?'''
df_18.greenhouse_gas_score.head()

0    5
1    4
2    6
3    5
4    5
Name: greenhouse_gas_score, dtype: int64